<section id= "grad" class="hero is-fullheight">
        <div class="container is-fluid has-text-centered">
            <!-- Heading and add new habit button -->
            <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd topHeading">
                <h1 class="title">
                    Habits
                </h1>
            </div>
            <hr>

            <!-- Today's date section -->
            <div
                class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd topHeading">
                <p id="todayDate">01/01/0001</p>
            </div>


            <!-- Table starts below -->
            <table class="table is-striped is-hoverable is-fullwidth has-background-danger-light">
                <thead>
                    <tr>
                        <th><abbr title="habitName">Habit Name</abbr></th>
                        <th><abbr title="goodBad">Good/Bad</abbr></th>
                        <th><abbr title="currentFreq">Current Frequency</abbr></th>
                        <th><abbr title="desiredFreq">Desired Frequency</abbr></th>
                    </tr>
                </thead>

                <!-- Content of the table is below -->
                {{#each habit}}
                <tbody>
                    <tr>
                        <td>{{name}}</td>
                        <td>{{good_habit}}</td>
                        <td>{{frequency}}</td>
                        <td>{{target_freq}}</td>
                    </tr>

                </tbody>

                {{else}}
                <tbody>
                    <tr>
                        <td> No habits to display</td>
    
                    </tr>

                </tbody>
                {{/each}}
            </table>
            <button id= "addNewBtn" class="button addNew">Add New Habit</button>

        </div>
    </section>

<script src="./js/habit.js"></script>